
/* тут мы будем писать стилизацию для  основного кода */
body{
            background-color: white;
        }
        h1 {
            font-size: 8vw;
            color: rgb(255, 255, 255);

        }
        .ptichki_ptichki{
            font-size: 14vw;
            transition: all 1s ease-in-out;
        }
        .ptichki_ptichki:hover{
            color: rgb(247, 207, 99);
            transition: all 1s ease-in-out;

        }
.paragrafh_first{
    font-size: 20vw;
    color: blanchedalmond;
    margin-left: 10%;
    padding-left: 10%;
    
}

.paragrafh_first{
    margin-left: 5%;
    background: yellowgreen;
    padding-left: 5%;
    border: 1px solid darkolivegreen;
    
}
.div_container{
        width: 10%;
        height: 10%;
        background: plum;
        color: azure;
        
    }
    nav{
        background: whitesmoke;
        width: 300px;
        position: fixed;
        top: 45px;
        left: 10bx;
        padding: 10px;
        box-sizing: border-box;
        opacity: 0.1;
        transition: all 0.5s ease;
    }

    nav:hover{
        opacity: 1;
        transition: all 0.5s ease;
    }

    p{
        margin-top: 0.5%;
    }
    h1, h2, h3, p, ul, ol, div, img, hr{
        width: 700px;
        margin: 20px auto;
    }
        
          